<template name="dirtree">
  {{> paneheader template="dirtreeoptions" }}
  <div id="dirtree"></div>
</template>

<template name="dirtreeoptions">
  <div class="btn-group" data-toggle="buttons">
    <label id="btnShowHidden" class="btn btn-primary btn-xs">
      <input type="checkbox">Show hidden
    </label>
    <label class="btn btn-primary btn-xs">
      <input type="checkbox">Option 2
    </label>
    <label class="btn btn-primary btn-xs">
      <input type="checkbox">Option 3
    </label>
  </div>
</template>